.card-group {
    width: 29%;
    /* max-width: 600px; */
    min-width: 350px;
    margin: 0px 25px 25px 0px;
    /* max-height: 200px; */
    line-height: 25px;
}

span {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
}

.mat-card-subtitle {
    font-size: 16px;
}

.mat-card-title {
    font-size: 20px;
    color:rgb(24, 24, 24);
}

.span-tab {
    width: 100%;
    float:left;
    overflow-y: auto;
    max-height: 300px;
}

table {
    width: 100%;
    /* margin-bottom: 30px; */
    /* margin-top: 100px; */
}

.edit {
    margin-right: 2px;
}

.delete {
    margin-right: 12px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

.green {
    color: #39ac2f;
}

.red {
    color: #e35e6b;
}
