<mat-card class="card-create-menu mat-elevation-z3">
    <mat-card-title class="card-title">Novo Cardápio</mat-card-title>

    <button mat-raised-button color="primary" (click)="addFood(form.value)">
        <i class="material-icons">
            add_circle_outline
        </i>
        Incluir Alimento
    </button>

    <form *ngIf="newMenu">
        <div class="inputs1">
            <mat-form-field class="formname">
                <input matInput placeholder="Código" [(ngModel)]="newMenu.code" name="code" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Horário da refeição (almoço, jantar, ...)" [(ngModel)]="newMenu.mealtype" name="mealtype" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Tipo de escola" [(ngModel)]="newMenu.schooltype" name="schooltype" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descrição" [(ngModel)]="newMenu.description" name="description" required>
            </mat-form-field>
        </div>
    </form>

    <form [formGroup]="form" autocomplete="off">

        <ng-container formArrayName="menuItems">
            <mat-table [dataSource]="menuItems.controls">

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                        <a class="delete" (click)="deleteFood(element, form.value)">
                            <i class="material-icons">delete</i>
                        </a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Código" formControlName="code" required>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="gramsPortion">
                    <mat-header-cell *matHeaderCellDef> Porção (g) </mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                        <mat-form-field floatLabel="never">
                            <input matInput type="number" placeholder="Porção (g)" formControlName="gramsPortion" required>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="replaceable">
                    <mat-header-cell *matHeaderCellDef> Substituível? </mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Sim/Não" formControlName="replaceable"
                                required>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </ng-container>
    </form>
    <!-- <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Form value
                </mat-panel-title>
            </mat-expansion-panel-header>
            <code>
        {{form.value | json}}
      </code>
        </mat-expansion-panel>
    </mat-accordion> -->

    <button mat-raised-button (click)="createMenu()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>