<mat-card class="card-new-food mat-elevation-z3">
    <mat-card-title class="card-title">Adicionar Alimento no Estoque</mat-card-title>
    
    <form>
        <mat-form-field>
            <input matInput placeholder="Código do Alimento" [(ngModel)]="inventory.foodCode" name="foodCode" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade" [(ngModel)]="inventory.amount" name="amount" required>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="addFoodInventory()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>