<div class="expansions mat-elevation-z4">
    <mat-accordion multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Guia de Uso
                </mat-panel-title>
                <mat-panel-description>
                    Entenda as funcionalidades da interface de homologação
                </mat-panel-description>
            </mat-expansion-panel-header>

            <span>
                Texto pendente
            </span>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sistema de Recomendação
                </mat-panel-title>
                <mat-panel-description>
                    Acesse um resumo sobre o funcionamento do método utilizado para a geração de substituições
                </mat-panel-description>
            </mat-expansion-panel-header>

            <span>
                Texto pendente
            </span>

        </mat-expansion-panel>
    </mat-accordion>
</div>