.sidenav {
    background-color: #3f51b5;
    width: 300px;
    font-weight: 300;
    position: fixed;
    z-index: 100;
    margin-top: 65px;
}

.sidenav a {
    color: #FFF;
}

.sidenav a:hover {
    background-color: #3145b9;
}

.sidenav i {
    padding-right: 10px;
}

.nav-list :focus {
    background-color: #253dc2;
}

.content {
    padding: 16px;
    /* background-color: #edf4f8; */
    background-color: #FFF;
}