<div class="div-container">
    <div class="small-box mat-elevation-z4">
        <div class="i-div">
            <i class="material-icons"> fastfood </i>
            <div id="text-total"> {{ foodTotal }} </div>
        </div>
        <div>ALIMENTOS</div>
    </div>
    <div class="small-box mat-elevation-z4">
        <div class="i-div">
            <i class="material-icons"> inventory </i>
            <div id="text-total"> {{ inventoryTotal }} </div>
        </div>
        <div>ITENS NO ESTOQUE</div>
    </div>
    <div class="small-box mat-elevation-z4">
        <div class="i-div">
            <i class="material-icons"> view_list </i>
            <div id="text-total"> {{ groupingTotal }} </div>
        </div>
        <div>AGRUPAMENTOS</div>
    </div>
    <div class="small-box mat-elevation-z4">
        <div class="i-div">
            <i class="material-icons"> menu_book </i>
            <div id="text-total"> {{ menuTotal }} </div>
        </div>
        <div>CARDÁPIOS</div>
    </div>
</div>