.card-edit-group {
    margin-top: 160px;
}

form {
    display: table-row;
    /* flex-direction: column; */
}

button {
    /* margin-right: 15px;
    margin-top: 20px; */
    margin: 20px 15px 0px 0px;
}

.card-title {
    margin-bottom: 20px;
}

.mat-column-id {
    max-width: 40px;
  }

.delete > i {
    color: #e35e6b;
    cursor: pointer;
}

.formname {
    margin-top: 20px;
}